*.o
*.lo
*.la
*.a
yara
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
libyara/Makefile.in
libyara/aclocal.m4
libyara/autom4te.cache/
libyara/config.h.in
libyara/configure
libyara/m4/
libyara/regex/Makefile.in
ltmain.sh
m4/
missing
ylwrap
config.h
.deps/
Makefile
config.log
config.status
libtool
libyara/.deps/
libyara/Makefile
libyara/config.log
libyara/config.status
libyara/grammar.c
libyara/lex.c
libyara/libtool
libyara/regex/.deps/
libyara/regex/Makefile
libyara/stamp-h1
stamp-h1
libyara/.libs/
