*.o
*.a
yara
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
libyara/Makefile.in
libyara/aclocal.m4
libyara/autom4te.cache/
libyara/config.h.in
libyara/configure
libyara/m4/
libyara/regex/Makefile.in
ltmain.sh
m4/
missing
ylwrap

