*.swp
tags
*.lo
*.o
.deps/
Makefile
Makefile.in
config.h
config.h.in
configure
libyara/Makefile.in
libyara/configure
libyara/grammar.c
libyara/grammar.h
libyara/lex.c
libyara/regex/Makefile.in
aclocal.m4
autom4te.cache/
*~
config.log
config.status
libyara/.libs/
libyara/libtool
*.la
libyara/regex/.libs/
libyara/stamp-h1
*.yar
stamp-h1
test
yara
INSTALL
config.guess
config.sub
depcomp
install-sh
libyara/m4/libtool.m4
ltmain.sh
missing
ylwrap
